

#mainNavbar .nav-link {
    color: #ffffff;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 5px;
    /* border-radius: 120px; */
}


#navLinks{
    justify-content: flex-end;
}


#navLinks .nav-link:hover {
    color: #f4b2aa;
    transition: 0.5s;
}


#mainNavbar .navbar-brand {
color: #ffffff;
font-size: 3em;
font-weight: 10;
letter-spacing: -1px ;
margin-left: 15px;
}

#mainNavbar {
    background-color: #CC492F;
}



